{% capture logo %}{% include logo.md %}{% endcapture %} {% capture phone %}{%
include phone-number.md %}{% endcapture %} {% capture email %}{% include
email-link.md %}{% endcapture %}

<nav class="py-2 px-2 bg-gray-200 rounded-lg my-8 max-w-3xl mx-auto">
  <div class="max-w-container mx-auto flex flex-col gap-6 py-4">
    <div class="flex justify-between">
      <h3 class="mb-0">
        <a
          href="{{ site.baseurl }}/"
          class="{% if page.url == item.link %} underline{% endif %}"
        >
          {{ logo }}
        </a>
      </h3>
      <div class="flex flex-col text-right [&_p]:mb-0">
        {{phone | markdownify}} {{email | markdownify}}
      </div>
    </div>

    <ul class="flex gap-4 list-none pl-0 mb-2">
      {% for item in site.data.navigation.items %}
      <li>
        <a
          href="{{ site.baseurl }}{{item.link }}"
          class="{% if page.url == item.link %} underline{% endif %}"
        >
          {{item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
